Repository helloflask/bootstrap-flask, pull requests merged in 2023-10, with the labels that each got.

#325 Minor typos in Macros.rst
  docs/macros.rst
Labels: docs

#321 Remove test print statement
  tests/test_bootstrap4/test_render_table.py
Labels: enhancement

#324 improved documentation configuration
  docs/conf.py
  tox.ini
Labels: enhancement, docs

#249 color field in examples
  examples/bootstrap4/app.py
  examples/bootstrap4/templates/form.html
  examples/bootstrap5/app.py
  examples/bootstrap5/templates/form.html
Labels: form
